@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.text_h1 {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
}

.text_h2 {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.text_h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #635854;
}

.text_h3_white {
  color: #FFFFFF;
}

.text_h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}

.text_h4_white {
  color: #FFFFFF;
  text-align: center;
}

.text_h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #635854;
  text-align: center;
}

.text_h5_white {
  color: #FFFFFF;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.button {
  padding: 16px 36px;
  border-radius: 6px;
  background: #3596F5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.text_number {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 104px;
  line-height: 19px;
  color: #635854;
}