@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #39FF14;
  --hot-pink: #FF69B4;
  --electric-blue: #00FFFF;
  --acid-yellow: #F0FF00;
  --bright-purple: #BF00FF;
  --electric-orange: #FFA500;
  --fluorescent-red: #FF1493;
  --lime-green: #00FF00;
  --coral-pink: #FF7F50;
  --sky-blue: #87CEEB;
  --magenta: #FF00FF;
  --canary-yellow: #FFFF99;
  --turquoise: #40E0D0;
  --vivid-red: #FF0000;
  --neon-orange: #FFA343;
  --fuschia-pink: #FF00AF;
  --bright-cyan: #00FFFF;
  --chartreuse: #7FFF00;
  --deep-saffron: #FF9933;
  --electric-purple: #CC00FF;
}

* {
  box-sizing: border-box;
}

.text_h1 {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
}

.text_h2 {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.text_h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #635854;
}

.text_h3_white {
  color: #FFFFFF;
}

.text_h4 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}

.text_h4_white {
  color: #FFFFFF;
  text-align: center;
}

.text_h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #635854;
}

.text_h5_white {
  color: #FFFFFF;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.button {
  padding: 16px 36px;
  border-radius: 6px;
  background: #3596F5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.text_number {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 104px;
  line-height: 19px;
  color: #635854;
}

/* PopUp */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: opacity 500ms;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;
  margin: 207px 218px;
  max-width: 1003px;
  background: white;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 38px;
  right: 27px;
  transition: all 200ms;
}

.popup .content {
  min-height: 30%;
  overflow: auto;
}